/MusicManager/MusicManager-Backend/nbproject/
/MusicManager/MusicManager-Backend/target/
.idea
*.iml
/MusicManager/MusicManager-DAO/nbproject/
/MusicManager/MusicManager-DAO/target/
/MusicManager/MusicManager-API/target/
/MusicManager/MusicManager-SF/target/
/MusicManager/MusicManager-REST/target/
/MusicManager/MusicManager-MVC/target/
/MusicManager/SampleData/target/